<section class="splide min-h-[400px] mb-8" role="group" aria-label="List of universities">
    <div class="splide__track min-h-[400px]">
        <ul class="splide__list min-h-[400px]">
            <li class="splide__slide">
                <a href="https://www.vub.be/nl" target="_blank" class="mb-10">
                    <img src="~/img/universities/brussel.png" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.vub.be/nl" target="_blank">
                        <p>Vrije Universiteit Brussel</p>
                        <p>(VUB), Belgium</p>
                        <p>Coordinator <a href="https://dike.research.vub.be/en/prof-dr-marco-giacalone" target="_blank" class="underline">Prof. Marco Giacalone</a></p>
                    </a>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.unina.it/home" target="_blank" class="mb-10">
                    <img src="~/img/universities/unina.png" class="h-[130px]" alt="" />
                </a>
                <div class="text-center">
                    <a href="https://www.unina.it/home" target="_blank">
                        <p>Università degli studi di Napoli Federico II</p>
                        <p>(UNINA), Italy</p>
                    </a>

                    <p class="text-sm italic">Team leader, <a href="https://www.docenti.unina.it/#!/professor/464c4f5241414d41544f4d5441464c5237395036314c3235394c/riferimenti" target="_blank" class="underline">Prof. Flora Amato</a></p>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.uni-lj.si/" target="_blank" class="mb-10">
                    <img src="~/img/universities/ljubljana.png" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.uni-lj.si/" target="_blank">
                        <p>Univerza V Ljubljani</p>
                        <p>(UL), Slovenia</p>
                    </a>
                    <p class="text-sm italic">Team leader, Prof. <a href="https://www.pf.uni-lj.si/fakulteta/pedagogi-in-raziskovalci/prof-dr-katarina-zajc-univ-dipl-prav/" target="_blank" class="underline">Katarina Zajc</a></p>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.pravo.unizg.hr/" target="_blank" class="mb-10">
                    <img src="~/img/universities/croazia.png" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.pravo.unizg.hr/" target="_blank">
                        <p>Sveuciliste U Zagrebu - Pravni Fakultet</p>
                        <p>(UniZg), Croatia</p>
                    </a>
                    <p class="text-sm italic">Team leader, <a href="https://www.pravo.unizg.hr/tatjana.josipovic/" target="_blank" class="underline">Prof. Tatjana Josipović</a></p>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.vu.lt/" target="_blank" class="mb-10">
                    <img src="~/img/universities/vilnius.png" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.vu.lt/" target="_blank">
                        <p>Vilniaus Universitetas</p>
                        <p>(VU), Lithuania</p>
                    </a>
                    <p class="text-sm italic">Team leader, <a href="https://www.tf.vu.lt/about_us/mokslininkai-ir-destytojai/simaitis-rimantas-doc-dr/" target="_blank" class="underline">Prof. Rimantas Simaitis</a></p>
                </div>
            </li>
            <li class="splide__slide">
                <a href="http://www.adiconsum.it/" target="_blank" class="mb-10">
                    <img src="~/img/universities/adiconsum.jpeg" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="http://www.adiconsum.it/" target="_blank">
                        <p>Adiconsum Associazione Difesa Consumatori APS</p>
                        <p>(ADICONSUM), Italy</p>
                    </a>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.mylegitech.com/" target="_blank" class="mb-10">
                    <img src="~/img/seraphin_by_mlt.png" class="h-[68px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.mylegitech.com/" target="_blank">
                        <p>MyLegiTech - Seraphin Legal</p>
                        <p>France</p>
                    </a>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://taltech.ee/en" target="_blank" class="mb-10">
                    <img src="~/img/universities/taltech.png" class="h-[130px]" />
                </a>
                <div class="text-center">
                    <a href="https://taltech.ee/en" target="_blank">
                        <p>Tallinna Tehnikaülikool</p>
                        <p>(Taltech), Estonia</p>
                    </a>
                    <p class="text-sm italic">Team leader, <a href="https://taltech.ee/kontaktid/thomas-hoffmann" target="_blank" class="underline">Prof. Thomas Hoffmann</a></p>
                </div>
            </li>
            <li class="splide__slide">
                <a href="https://www.fbe.org/" target="_blank" class="mb-10">
                    <img src="~/img/FBE.png" class="h-[104px]" />
                </a>
                <div class="text-center">
                    <a href="https://www.fbe.org/" target="_blank">
                        <p>Fédération des barreaux d'Europe</p>
                        <p>(FBE), France</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<script src="~/lib/splidejs/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const splide = new Splide('.splide', {
            type: 'loop',
            perPage: 3,
            perMove: 1,
            gap: 16,
            classes: {
                page: 'splide__pagination__page !bg-teal-400',
            },
        });
        splide.mount();
    });
</script>