@page
@model CreaProject.Pages.ResearchModel
@{
}

<div class="mt-6 flex w-full flex-col items-center justify-center">
    <h2 class="font-bold text-2xl w-2/3 mb-6">Journal publications</h2>
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge bg-creablue text-white text-2xs p-2">OPEN ACCESS</span>
            <span class="badge text-2xs p-2 text-creablue border-creablue">PEER-REVIEWED</span>
        </div>
        <h4 class="font-bold">
            An Intelligent Interface for Human-Computer Interaction in Legal Domain
        </h4>
        <span class="text-xs"><span class="text-stone-400">by</span> Flora Amato, Leonard Barolli, Giovanni Cozzolino, Antonino Ferraro & Marco Giacalone</span>
        <p class="text-stone-400 text-xs">
            Conference paper | pp 240-248<br />
            Published: 2023, Switzerland | Publisher: Springer, Cham
        </p>
        <div class="mt-2">
            <p class="text-creablue text-xs">
                <a href="https://doi.org/10.1007/978-3-031-19945-5_24" target="_blank">DOI <i class="fa-solid fa-arrow-up-right-from-square"></i></a> <span class="mx-2">|</span> <span class="hover:cursor-pointer" onclick="showMore(this)">More details</span>
            </p>
        </div>
        <p style="display: none" class="text-justify text-xs text-stone-400 mt-4">
            ISBN: 978-3-031-19944-8   I   ISSN: 978-3-031-19945-5<br />
            <br />
            Type of publication:  International peer-reviewed chapter, in Barolli, L. (eds) Advances on P2P, Parallel, Grid, Cloud and Internet Computing. 3PGCIC 2022. Lecture Notes in Networks and Systems, vol 571 - Springer Science and Business Media Deutschland GmbH, pp. 240-248, 17th International Conference on P2P, Parallel, Grid, Cloud and Internet Computing, 3PGCIC 2022, held in conjunction with the 17th International Conference on Broadband Wireless Computing, Communication and Applications, BWCCA 2022, Tirana, Albania, 27/10/22<br />
            <br />
            Abstract:<br />
            Technological evolution and advances in the field of artificial intelligence have brought about considerable transformations in every area of our lives, also changing our various needs. In particular, the ever-increasing development and use of messaging applications have enabled the growth of services closer to users, as they can be seen as excellent means of advertising, sales and customer service. This is precisely why business models have changed drastically, moving towards new technologies such as ChatBots. The messaging applications nowadays are used daily while ensuring that they can keep up with the pace of this increasingly hectic and demanding world thanks to their 24/7 availability, low costs and customised real-time services. This paper aims to provide a general description and design principle of a ChatBot, designed and developed for the CREA2 (Conflict Resolution with Equitative Algorithms) platform, which includes the management and automatic resolution of disputes concerning the division of assets, trying to avoid costs and bureaucracy.  
        </p>
    </div>
    <hr class="w-2/3 mb-6 h-[2px] bg-gray-300" />
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge bg-creablue text-white text-2xs p-2">OPEN ACCESS</span>
            <span class="badge text-2xs p-2 text-creablue border-creablue">PEER-REVIEWED</span>
        </div>
        <h4 class="font-bold">
            An Intelligent Conversational Agent for the Legal Domain
        </h4>
        <span class="text-xs"><span class="text-stone-400">by</span> Flora Amato, Mattia Fonisto, Marco Giacalone & Carlo Sansone</span>
        <p class="text-stone-400 text-xs">
            Journal article | pp 307-320<br />
            Published: 2023, Switzerland | Publisher: MDPI
        </p>
        <div class="mt-2">
            <p class="text-creablue text-xs">
                <a href="https://doi.org/10.3390/info14060307" target="_blank">DOI <i class="fa-solid fa-arrow-up-right-from-square"></i></a> <span class="mx-2">|</span> <span class="hover:cursor-pointer" onclick="showMore(this)">More details</span>
            </p>
        </div>
        <p style="display: none" class="text-justify text-xs text-stone-400 mt-4">
            ISSN: 2078-2489<br />
            <br />
            Type of publication:  International peer-reviewed journal article - Information, 14, 6, 307<br />
            <br />
            Abstract:<br />
            An intelligent conversational agent for the legal domain is an AI-powered system that can communicate with users in natural language and provide legal advice or assistance. In this paper, we present CREA2, an agent designed to process legal concepts and be able to guide users on legal matters. The conversational agent can help users navigate legal procedures, understand legal jargon, and provide recommendations for legal action. The agent can also give suggestions helpful in drafting legal documents, such as contracts, leases, and notices. Additionally, conversational agents can help reduce the workload of legal professionals by handling routine legal tasks. CREA2, in particular, will guide the user in resolving disputes between people residing within the European Union, proposing solutions in controversies between two or more people who are contending over assets in a divorce, an inheritance, or the division of a company. The conversational agent can later be accessed through various channels, including messaging platforms, websites, and mobile applications. This paper presents a retrieval system that evaluates the similarity between a user’s query and a given question. The system uses natural language processing (NLP) algorithms to interpret user input and associate responses by addressing the problem as a semantic search similar question retrieval. Although a common approach to question and answer (Q&A) retrieval is to create labelled Q&A pairs for training, we exploit an unsupervised information retrieval system in order to evaluate the similarity degree between a given query and a set of questions contained in the knowledge base. We used the recently proposed SBERT model for the evaluation of relevance. In the paper, we illustrate the effective design principles, the implemented details and the results of the conversational system and describe the experimental campaign carried out on it. 
        </p>
    </div>
    <hr class="w-2/3 mb-6 h-[2px] bg-gray-300" />
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge text-2xs p-2 text-creablue border-creablue">PEER-REVIEWED</span>
        </div>
        <h4 class="font-bold">
            Artificial Intelligence and Family Law: Artificial Intelligence and Lagorithms in Family (Patrimonial) Law
        </h4>
        <span class="text-xs"><span class="text-stone-400">by</span> Nishat Hyder-Rahman, Elisabeth Alofs, Marco Giacalone</span>
        <p class="text-stone-400 text-xs">
            Article | pp 355-383<br />
            Published: 2023, United Kingdom | Publisher: Intersentia
        </p>
        <div class="mt-2">
            <p class="text-creablue text-xs">
                <a href="https://www.larcier-intersentia.com/en/international-survey-family-law-2023-9781839704017.html#product.info.tab.excerpts" target="_blank">Article <i class="fa-solid fa-arrow-up-right-from-square"></i></a> <span class="mx-2">|</span> <span class="hover:cursor-pointer" onclick="showMore(this)">More details</span>
            </p>
        </div>
        <p style="display: none" class="text-justify text-xs text-stone-400 mt-4">
            ISSN: 9781839704017<br />
            <br />
            Type of publication: International peer-reviewed chapter of the “International Survey of Family Law 2023” book, by Robin Fretwell Wilson and June Carbone.<br />
        </p>
    </div>
    <hr class="w-2/3 mb-6 h-[2px] bg-gray-300" />
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge bg-creablue text-white text-2xs p-2">Under publication</span>
        </div>
        <h4 class="font-bold">
            CREA2: a digital journey in the field of the division of assets
        </h4>
        <span class="text-xs"><span class="text-stone-400">by</span> Mattia Fonisto & Marco Giacalone</span>
        <p class="text-stone-400 text-xs">
            Journal Article<br />
            Published: Under publication, Germany | Publisher: CEUR Workshop Proceedings
        </p>
        <div class="mt-2">
            <p class="text-creablue text-xs">
                <span class="hover:cursor-pointer" onclick="showMore(this)">More details</span>
            </p>
        </div>
        <p style="display: none" class="text-justify text-xs text-stone-400 mt-4">
            ISSN: 1613-0073<br />
            Type of publication: International peer-reviewed journal article
        </p>
    </div>
    <hr class="w-2/3 mb-6 h-[2px] bg-gray-300" />
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge bg-creablue text-white text-2xs p-2">Under publication</span>
        </div>
        <h4 class="font-bold">
            Ethical and Technical Challenges in the European Conflict Resolution Project: The role of Equitative Algorithms (CREA2)
        </h4>
        <span class="text-xs"><span class="text-stone-400">in</span> Barolli L., 3PGCIC-2024 (19th International Conference on P2P, Parallel, Grid, Cloud and Internet Computing 2024)</span>
    </div>
    <div class="mb-6 w-2/3">
        <div class="mb-4">
            <span class="badge bg-creablue text-white text-2xs p-2">Under publication</span>
        </div>
        <h4 class="font-bold">
            A Chatbot for Specialized Domain
        </h4>
        <span class="text-xs"><span class="text-stone-400">in</span> Barolli L., 3PGCIC-2024 (19th International Conference on P2P, Parallel, Grid, Cloud and Internet Computing 2024)</span>
    </div>
    <hr class="w-2/3 mb-6 h-[2px] bg-gray-300" />
    <div class="w-2/3 mb-6">
        <h2 class="font-bold text-2xl w-2/3 mb-6">Online content</h2>
        <p class="text-justify">Discover how the CREA II project is transforming dispute resolution across Europe with innovative AI-driven tools and Blockchain technology. </p>
        <div class="flex justify-center my-16">
            <a href="https://www.youtube.com/watch?v=QaR1PGtsdDE" target="_blank">
                <img src="https://img.youtube.com/vi/QaR1PGtsdDE/maxresdefault.jpg" alt="youtube video preview" class="w-full max-w-[500px]" />
            </a>
        </div>
    </div>
</div>

<script>
    const showMore = (button) => {
        const moreContent = button.closest('div').nextElementSibling;
        if (moreContent.style.display === "none") {
            moreContent.style.display = "block";
            button.textContent = "Less details";
        } else {
            moreContent.style.display = "none";
            button.textContent = "More details";
        }
    }
</script>