@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<div class="flex grow flex-col items-center justify-center">
    <div class="max-w-[560px] mt-6 flex w-2/5 shadow-xl rounded-2xl">
        <section class="w-full">
            <form method="post" class="flex flex-col items-center justify-center p-16">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <h1 class="mb-8 text-2xl font-bold">@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-orange-500" role="alert"></div>
                <div class="form-field mb-4">
                    <label asp-for="Input.Email" class="form-label">Email <span class="text-red-500">*</span></label>
                    <input asp-for="Input.Email" class="input-form" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Input.Password" class="form-label">Password <span class="text-red-500">*</span></label>
                    <input asp-for="Input.Password" class="input-form" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm password <span class="text-red-500">*</span></label>
                    <input asp-for="Input.ConfirmPassword" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="button w-[126px] mt-8">Reset password</button>
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
