@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply rounded-md bg-creablue px-3 py-2 text-sm font-medium text-white;
}

.button:hover {
    @apply bg-creablue-dark;
}

.inverted-button {
    @apply rounded-md bg-creablue-superlight px-3 py-2 text-sm font-medium text-creablue;
}

.inverted-button:hover {
    @apply bg-creablue-light text-creablue-dark;
}

.outlined-button {
    @apply rounded-md border border-creablue px-3 py-2 text-sm font-medium text-creablue;
}

.outlined-button:hover {
    @apply bg-creablue text-white;
}

.outlined-button-danger {
    @apply rounded-md border border-red-400 px-3 py-2 text-sm font-medium text-red-400;
}

.disabled-button {
    @apply rounded-md bg-gray-300 px-3 py-2 text-sm font-medium text-white;
}

.form-field {
    @apply mb-3 flex w-full flex-col;
}

.form-label {
    @apply text-[#0D243A] mb-2 pl-3 text-sm font-medium;
}

.input-form {
    @apply min-h-[36px] rounded-xl bg-gray-100 px-2;
}

.disabled-input-form {
    @apply min-h-[36px] border-2 rounded-xl border-solid border-gray-200  px-2;
    background-color: rgb(200,200,200);
}

.editable-input-form {
    @apply min-h-[36px] border-2 rounded-xl bg-gray-200 px-2;
}

.active-link {
    @apply text-creablue;
}

.pill-button {
    @apply h-[32px] px-6 flex items-center justify-center rounded-2xl bg-creablue bg-opacity-15 py-2 text-sm font-semibold text-creablue;
}

/* MISC STYLE */

input[type="radio"].crea-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFF;
    border: 2px solid #2CAFB4;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: border-color 0.3s;
}

input[type="radio"].crea-radio:checked {
    border-color: #2CAFB4;
}

input[type="radio"].crea-radio:checked::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #2CAFB4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"].crea-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #FFF;
    border: 2px solid #2CAFB4;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    transition: border-color 0.3s;
}

    input[type="checkbox"].crea-checkbox:disabled {
        background-color: #333;
    }

    input[type="checkbox"].crea-checkbox:checked {
        border-color: #2CAFB4;
    }

input[type="checkbox"].crea-checkbox:checked::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    background-color: #2CAFB4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.input-percentage::after {
    content: '%';
    position: absolute;
    right: 10px;
}

.ellipsed-text {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.full-text {
    width: 100%;
    white-space: pre-line
}

.ellipsed-div {
    p {
        display: none;
    }
}

.full-div {
    div {
        h3 {
            color: #2CAFB4
        }
        button {
            i {
                color: #2CAFB4
            }
        }
    }
    p {
        display: flex;
        white-space: pre-line;
    }
}

/* CAROUSEL STYLE */

.splide__pagination {
    bottom: -1.5em !important;
    li {
        button {
            border: 1px solid rgb(44, 175, 180);
        }
        button:not(.is-active) {
            background-color: transparent !important;
        }
    }
}

.splide__arrow {
    background-color: transparent !important;
    svg {
            fill: rgb(44, 175, 180) !important;
        }
}

.splide__arrow--prev {
    left: -3em !important;
}

.splide__arrow--next {
    right: -3em !important;
}

.splide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.splide__slide.is-next {
    transform: scale(1.5);
}


/* BREADCRUMB STYLE */

.step-item {
    @apply min-h-[40px] flex-1 flex flex-col items-center justify-around;
}

.step-circle {
    @apply w-[20px] h-[20px] flex flex-wrap items-center justify-center rounded-full pt-1;
}

.step-line {
    @apply flex-1 h-[2px] ml-2 mr-4 rounded-md;
}

.step-label {
    @apply min-h-[55px] mt-2 flex w-full flex-col items-start justify-start;
}

.breadcrumb-line {
    @apply flex w-full items-center;
}

.circle-ongoing {
    @apply border-[3px] border-indigo-950;
}

.circle-inactive {
    @apply border-[3px] border-gray-300 opacity-50;
}

.circle-active {
    @apply h-[20px] w-[20px] pt-[2px] mr-2 flex flex-wrap items-center justify-center rounded-full bg-creablue text-white;
}

.line-ongoing {
    @apply bg-indigo-950;
}

.line-inactive {
    @apply bg-gray-300 opacity-50;
}

.line-active {
    @apply bg-creablue-dark;
}

/* CHATBOX STYLE */
.chatbox-normal {
    @apply w-[404px] h-[602px];
    transition: width 0.3s ease, height 0.3s ease;
    hr {
        @apply w-[404px]
    }
}

.chatbox-expanded {
    @apply w-[748px] h-[682px];
    transition: width 0.3s ease, height 0.3s ease;
    hr {
        @apply w-[748px]
    }
}

.project-list{
    list-style: inside !important;
}

.air-datepicker {
    z-index: 1000 !important;
}

.air-datepicker-cell {
    .-selected- {
        background-color: #2CAFB4 !important;
    }
    .-focus- {
        background: rgba(44, 175, 180, 0.3) !important;
    }
}