@page
@model CreaProject.Pages.LegalTerms

<div class="flex h-full w-full flex-col items-center justify-around">
    <div class="my-20 flex w-4/5 flex-col flex rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-8 text-2xl font-bold">Terms and conditions</h2>
        <div class="ellipsed-text mb-4 pl-20">
            <ol class="list-decimal">
                <li class="font-bold">Acceptance of Terms</li>
                <p>By accessing and using CREA chatbot ("the Service"), you agree to be bound by these terms and conditions ("Terms"). If you do not agree to these Terms, please do not use the Service.</p>
                <li class="font-bold">Description of Service</li>
                <p>Crea provides a chatbot service ("the Chatbot") designed to assist users with providing expert answers to your legal questions throughout the dispute resolution process. The Chatbot may include, but is not limited to legal guidance, Procedure clarification, Regulation insights or Terminology explanation. </p>
                <li class="font-bold">Eligibility</li>
                <p>To use the Service, you must be at least 14 years old and capable of entering into a binding contract. By using the Service, you represent and warrant that you meet these eligibility requirements.</p>
                <li class="font-bold">User Accounts</li>
                <p class="indent-5">
                    <span class="font-bold">• Registration:</span> You may be required to create an account to access certain features of the Service. You agree to provide accurate, current, and complete information during the registration process.
                    <span class="font-bold">• Responsibility:</span> You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
                    <span class="font-bold">• Termination:</span> We reserve the right to suspend or terminate your account if you violate these Terms or engage in any activities that may harm the Service or its users.
                </p>
                <li class="font-bold">User Responsabilities</li>
                <p class="indent-5">
                    <span class="font-bold">•	Respectful Conduct:</span> You agree to use the Service in a respectful and lawful manner. Any form of harassment, abuse, or disrespect towards other users or our team will not be tolerated.
                    <span class="font-bold">•	Compliance with Laws:</span> You must comply with all applicable laws, regulations, and policies when using the Service.
                </p>
                <li class="font-bold">Prohibited Activities</li>
                <p>
                    You agree not to engage in the following prohibited activities:
                    <span class="font-bold">• Impersonation:</span> Do not impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity.
                    <span class="font-bold">• Harmful or Illegal Content:</span> Do not transmit, post, or share any content that is harmful, illegal, offensive, defamatory, or infringes on any third party's rights.
                    <span class="font-bold">• Interference with Service:</span> Do not interfere with or disrupt the performance of the Service or any related systems or networks.
                    <span class="font-bold">• Automated Access:</span> Do not use any automated means to access the Service for any purpose without our express written permission.

                </p>
                <li class="font-bold">User Account</li>
                <p>
                    <span class="font-bold">•	Responsibility:</span> You are solely responsible for any content you submit, post, or display on the Service ("User Content").
                    <span class="font-bold">•	Rights:</span> By submitting User Content, you grant us a non-exclusive, worldwide, royalty-free license to use, copy, modify, and display your User Content in connection with the Service.
                    <span class="font-bold">•	Prohibited Content:</span> You agree not to submit any User Content that is illegal, offensive, defamatory, or infringes on any third party's rights.
                </p>
                <li class="font-bold">Privacy</li>
                <p>Our Privacy Policy (link to privacy policy) describes how we collect, use, and disclose information about you when you use the Service.</p>
                <li class="font-bold">Intellectual Property</li>
                <p>
                    <span class="font-bold">•	Ownership:</span> We own all rights, title, and interest in and to the Service, including all intellectual property rights.
                    <span class="font-bold">•	Trademarks:</span> All trademarks, service marks, logos, and trade names associated with the Service are our property or the property of other respective owners.
                </p>
                <li class="font-bold">Third-Party Links</li>
                <p>The Service may contain links to third-party websites or services. We are not responsible for the content, privacy policies, or practices of any third-party websites or services.</p>
                <li class="font-bold">Extent of Liability</li>
                <p>
                    <span class="font-bold">•	User Liability:</span> You agree to indemnify and hold us harmless from any claims, liabilities, damages, losses, and expenses, including reasonable attorneys' fees, arising out of or in any way connected with your use of the Service or violation of these Terms.
                    <span class="font-bold">•	Exclusion of Liability:</span> To the fullest extent permitted by law, we are not liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the Service. This includes, but is not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses.
                </p>
                <li class="font-bold">Disclaimers</li>
                <p>
                    <span class="font-bold">•	No Warranty:</span> The Service is provided "as is" and "as available" without warranties of any kind, either express or implied. We do not guarantee that the Service will be uninterrupted, error-free, or free from harmful components.
                    <span class="font-bold">•	Limitation of Liability:</span> To the fullest extent permitted by law, we are not liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of the Service.
                </p>
                <li class="font-bold">Governing Law</li>
                <p>These Terms are governed by and construed in accordance with the laws of Italy, without regard to its conflict of law principles. Any disputes arising out of or related to these Terms or the Service will be subject to the exclusive jurisdiction of the courts located in Naples, Italy.</p>
                <li class="font-bold">Changes to Terms</li>
                <p>We reserve the right to modify these Terms at any time. We will notify you of any changes by posting the new Terms on the Service. Your continued use of the Service after such changes constitutes your acceptance of the new Terms.</p>
                <li class="font-bold">Contact Information</li>
                <p>If you have any questions about these Terms, please contact us at <a href="mailto:crea_project@proton.me">crea_project@proton.me</a>.</p>
            </ol>
        </div>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="my-20 flex w-4/5 flex-col flex rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-8 text-2xl font-bold">Privacy policy</h2>
        <p class="ellipsed-text mb-4">
            This website has been produced with the financial support of the Justice Programme of the European Union. The contents of this site are the sole responsibility of the authors and can in no way be taken to reflect the views of the European Commission.
            This project was co-funded by the Justice Programme under grant agreement No. 766463.

            <span class="font-bold">PRIVACY POLICY RELATING TO PROCESSING OF PERSONAL DATA</span>
            This policy is based on the art. 13 of General Data Protection Regulation n. 2016/679 (GDPR) and on the Italian law (D. Lgs. 196/2003).
            Personal data are collected by the use of cookies (here the cookies policy) and, if you subscribe to the newsletter,  by this one.
            The newsletter of the website www.crea-project.eu, edited by Dr Fiammetta Marulli allows you to be always informed about the activities of the CREA project. Through the newsletter service, the interested user receives, automatically and free of charge by e-mail, all the activities of the project.
            It is sent by e-mail to those who make an explicit request, by filling in the form in the Newsletter section of the site and in this way you authorize the Department of Law of the University of Naples “Federico II”, in the person of the Dean of the Department pro tempore, to process your data.
            The provision of data is optional and, therefore, refusal to provide the data makes it impossible to obtain the newsletter service.
            The newsletter stores only the name and the e-mail as personal data.

            <span class="font-bold">PURPOSES AND STORAGE  OF THE PROCESSING OF PERSONAL DATA</span>
            The personal data provided by users are used for the sole purpose of sending the newsletter and will not be disclosed to third parties. The personal data provided by users will be kept for the entire period of use of the newsletter service. After the request of unsubscribing, the same will be stored for a further period of 30 days. After this period, the data will be permanently deleted.

            <span class="font-bold">MODALITIES  TO PROCESS OF PERSONAL DATA</span>
            Data are treated with computer tools. Appropriate security measures are observed to avoid the loss of data, unlawful or incorrect use and unauthorized access, in compliance with the provisions of art. 32 of the GDPR.
            CONTROLLER
            The controller is the Law Department of the University of Naples “Federico II”, in the person of the Dean of the pro tempore department.
            PROCESSOR
            In case of need, for activities related to the maintenance of the technological part of the site, the data related to the newsletter service may be processed by authorized of the CREA project in the person of the processor, Dr Fiammetta Marulli.
            Rights of the data subject
            When personal data are processed, data subjects shall have the right to obtain from the controller confirmation as to whether or not personal data concerning him or her are being processed, and, in this case, obtain: the right to withdraw his or her consent at any time (art.7, ¶ 3 of the GDPR),  the right to access to the personal data and relating information (art.15 GDPR), the right to rectification (art.16 GDPR), the right to erasure (art.17 GDPR), the  right to restriction of processing (art.18 GDPR), the right to data portability (art.20 GDPR), the right to object (art.21 GDPR) and the right not to be subject to a decision based solely on automated processing, including profiling (art.22 GDPR).
            The requests must be addressed:
            •	by post to the address: DIETI - Dipartimento di Ingegneria Elettrica e delle Tecnologie dell'Informazione - Università Degli Studi di Napoli Federico II Via Claudio, 21, 80125 Napoli NA
            •	by e-mail to <a href="mailto:crea_project@proton.me">crea_project@proton.me</a>
            <span class="font-bold">RIGHT TO COMPLAIN ABOUT A SUPERVISORY AUTHORITY.</span>
            Every data subject shall have the right to complain about a supervisory authority, in particular in the Member State of his or her habitual residence, place of work or place of the alleged infringement if the data subject considers that the processing of personal data relating to him or her infringes this Regulation.

            <span class="font-bold">UNSUBSCRIBE</span>
            To stop receiving the newsletter, the user must click on the “unsubscribe” button in the newsletter email that is sent, or by writing to the e-mail address <a href="mailto:crea_project@proton.me">crea_project@proton.me</a>

            <span class="font-bold">COOKIES</span>
            Cookies are text files that are automatically generated during a browsing session. Session cookies are removed automatically once the browser is closed. Another type of cookie is memorized on the user’s computer (for example to automatically log in to web sites, a user can request to memorize their user name and password on one of these files.) Analytics cookies are used to collect information for statistical purposes on the number of users that visit the site and how they reach it. The aforementioned cookies can be installed directly by a web site manager or by a third party. Lastly, profiling cookies are used to send advertisements, for example through personalized banners, in line with a user’s preferences as demonstrated through their browsing.

            <span class="font-bold">TYPES OF COOKIES</span>
            Based on the characteristics and use of cookies we can distinguish different categories:
            •	Technical cookies:
            o	cookies of navigation, functionality and session used only to ensure the proper functioning of the site;
            o	cookie analytics used to collect information, in aggregate form, on the number of users and how they visit the site with the aim of continuous improvement of functionality, organization of content, on the support of different platforms and browsers.
            These technical cookies are strictly necessary ones, essential for the proper functioning of the sites; the duration is limited to the work session. This portal uses only cookies of this type.
            •	Third-party cookies:
            o	Third-party cookies are set by an external website other than the one we are currently on.
            o	They are installed by the means of the social network “share” or “Like” buttons on your website which will store a cookie on visitor’s computer, that cookie can later be accessed by social networks to identify a visitor and see which websites he visited.
            o	In this site, we block third-party cookies installation (Google Analytics) by the mean of a Cookie Script, until the visitor accepts the cookie policy.
            o	For further information about Google Analytics, please read here: <a href="https://support.google.com/analytics/answer/6004245?hl=it&ref_topic=2919631" about="_blank">https://support.google.com/analytics/answer/6004245?hl=it&ref_topic=2919631</a>

            We remind you that you can also manage your cookie preferences through the browser you use (you will find the main ones below): Internet Explorer, Google Chrome, Mozilla, Opera, Firefox, Safari; and prevent third parties from installing them, for example. Using your browser preferences, you can also delete cookies that were installed in the past. The procedure for disabling cookies varies depending on the type of browser you are using.
            Warning: disabling cookies may prevent you from using certain features of this website.
            The procedure for disabling cookies varies depending on the type of browser used, for detailed instructions we report below the links to the various pages dedicated:
            •	Internet Explorer: <a href="http://support.microsoft.com/kb/196955" about="_blank">http://support.microsoft.com/kb/196955</a>
            •	Firefox: <a href="http://support.mozilla.org/it/kb/Gestione%20of%20Cookie?redirectlocale=en-US&amp;redirectslug=Cookies" about="_blank">http://support.mozilla.org/it/kb/Gestione%20of%20Cookie?redirectlocale=en-US&amp;redirectslug=Cookies</a>
            •	Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en" about="_blank">https://support.google.com/chrome/answer/95647?hl=en</a>
            •	Opera: <a href="http://www.opera.com/help/tutorials/security/guide/" about="_blank">http://www.opera.com/help/tutorials/security/guide/</a>
            •	Safari: <a href="https://support.apple.com/kb/PH19214?viewlocale=en_IT&locale=en_IT" about="_blank">https://support.apple.com/kb/PH19214?viewlocale=en_IT&locale=en_IT</a>
            •	Safari(iOS): <a href="https://support.apple.com/it-it/HT201265" about="_blank"></a>
            Since the installation of cookies and other tracking systems by third parties through the services used within this site cannot be technically controlled by the site owner, any specific reference to cookies and tracking systems installed by third parties is to be considered indicative. For complete information, please consult the privacy policy of any third-party services listed in this document.
            Given the objective complexity associated with the identification of technologies based on cookies and their very close integration with the operation of the web, the User is encouraged to contact the owner of the site if he wants to receive any information regarding the use of cookies and any use of the same – for example by third parties – made through this site.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="my-20 flex w-4/5 flex-col flex rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-8 font-bold text-2xl">EU Artificial Intelligence (AI) Act* Compliance</h2>
        <p class="ellipsed-text mb-4">
            <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32024R1689" about="_blank" class="underline text-gray-400 mb-4">* https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32024R1689</a>
            <br/>
            The CREA II system uses AI solutions. The AI chatbot provides only general legal information and assistance to users, i.e., it has merely auxiliary functions. For example, it advises users on procedures related to dispute resolution, which would render it a limited-risk system under the Recital 53 of the EU AI Act, page 49.[1]
            Firstly, the AI system employed in the CREA project fulfils the criteria of performing a narrow procedural task. Specifically, the chatbot tries to identify the topic for which a user wants more legal information, like classifying the user’s intent, and returns relevant legal information about it thanks to an up-to-date knowledge base provided by the CREA2 team. These tasks are narrowly defined and limited in scope (first condition, Recital 53).
            Secondly, the AI system is intended to detect decision-making patterns or deviations from prior decision-making patterns. The risk would be lowered because the AI system follows a previously completed human assessment, which is not meant to replace or influence without proper human review (third condition, Recital 53).
            In conclusion, the CREA project’s AI system meets the conditions specified in Recital 53, ensuring limited risk without exacerbating potential dangers in high-risk contexts. By adhering to these guidelines, the CREA project demonstrates compliance with the AI Act’s stipulations, ensuring transparency. This approach ensures that the AI system’s implementation remains safe and does not materially influence critical decision-making processes.
            The EU AI Act also imposes certain transparency and disclosure obligations on providers of certain AI systems specified in the art. 50 EU AI Act:
            Article 50: “Transparency obligations for providers and deployers of certain AI systemsProviders shall ensure that AI systems intended to interact directly with natural persons are designed and developed in such a way that the natural persons concerned are informed that they are interacting with an AI system.”
            The CREA2 chatbot is designed and developed so that end users are informed that they are interacting with an AI system. This information is provided to the person using the technology in a clear and distinguishable manner at the latest at the time of the first interaction or exposure.

            Complying with these duties – and simultaneously addressing the risk deriving from potential hallucinations generated by the chatbot – we employ the following disclaimer for towards users of the chatbot:
            <span class="font-bold">LEGAL DISCLAIMER</span>
            The chatbot on this platform offers general information regarding legal options for dispute resolution in asset distribution in divorce and succession law matters. This service is meant solely for informational purposes and should not be considered legal advice. While we strive to provide accurate and up-to-date information, the chatbot's responses may be incomplete, outdated, or incorrect due to the inherent limitations of artificial intelligence, including potential hallucinations or inaccuracies in the chatbot's output.
            <span class="font-bold">IMPORTANT NOTICES:</span>
            1.	No Legal Advice: The information provided by this chatbot does not constitute legal advice and is not a substitute for consultation with a qualified legal professional. Users should seek independent legal advice before making any decisions or taking action based on the chatbot’s responses.
            2.	Auxiliary Function: Under the EU AI Act, this chatbot's functions are classified as low-risk and are intended to support and assist users by providing general information.
            3. 	Transparency on automated responses: The user is informed in terms of Article 50 of the EU AI Act that the user is interacting with an artificial intelligence system and not a natural person. The responses generated by this chatbot are automated and based on programmed algorithms.
            4.	Accuracy and Reliability: While efforts are made to ensure the reliability and accuracy of the information provided, the chatbot may generate responses that contain errors or hallucinations. Users should verify any information obtained from the chatbot with authoritative sources or legal professionals.
            5.	User Responsibility: Users are responsible for using the chatbot and making decisions based on the information provided. The platform, its developers, and associated parties are not liable for any loss or damage from reliance on the chatbot’s responses. Legal information can change rapidly, and the chatbot's responses may not reflect the most current legal standards or interpretations. Users should regularly consult updated legal resources or professionals to ensure compliance with current laws and regulations.
            Using this chatbot, the user acknowledges and agrees to these terms and accepts full responsibility for any actions based on the information provided. If the user does not agree with these terms, we advise refraining from using the chatbot for legal information.
            This legal disclaimer is implemented in the CREA II system in such a way that it is presented to the user before and during the conversation with the CREA II chatbot, ensuring due information before usage
            Another important aspect is that users must be able to cancel interactions with a chatbot. This is an important safeguard to ensure that users remain in control of the interaction.
            In the CREA II system, users can cancel their interactions with the chatbot anytime by closing the chat window.

        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>

</div>


<script>
    const toggleText = (button) => {
        const paragraph = button.previousElementSibling;

        if (paragraph.classList.contains("ellipsed-text")) {
            paragraph.classList.remove("ellipsed-text");
            paragraph.classList.add("full-text");
            button.textContent = "Read less";
        } else {
            paragraph.classList.remove("full-text");
            paragraph.classList.add("ellipsed-text");
            button.textContent = "Read more";
        }
    }
</script>