@page
@model CreaProject.Pages.NewsModel
@{
}

<div class="flex h-full w-full flex-col items-center justify-around">
    <div class="mb-20 mt-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">CREA2 CONFERENCE VIDEO NOW AVAILABLE ONLINE</h2>
        <hr />
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on TUESDAY 18/06/2024 in <b>news</b> | <b>0 comments</b></p>
        <hr />
        <p class="ellipsed-text mb-4">
    
            We are pleased to announce that the video of the CREA2 conference is now available online.

            The CREA II research project is dedicated to investigating the potential of artificial intelligence to transform dispute resolution. By fostering interdisciplinary collaboration and promoting innovative solutions, CREA II aims to enhance access to justice and address the challenges faced by contemporary legal systems.

            This conference, part of the CREA2 research project, focused on the use of artificial intelligence in dispute resolution and brought together experts from various fields to discuss the implications and advancements of AI technology in the legal sector.

            The CREA2 conference featured a series of insightful presentations and panel discussions, highlighting the latest research, practical applications, and future directions of AI in legal decision-making processes. The event aimed to explore how generative AI can enhance access to justice and improve the efficiency and effectiveness of dispute resolution mechanisms.

            For those who were unable to attend the conference in person or would like to revisit the discussions, . This resource provides an opportunity to gain valuable insights from leading experts and to better understand the evolving landscape of AI in the legal domain.

            Key topics covered during the conference include:

            Implementing Generative AI in Legal Decision-Making Processes
            Enhancing Access to Justice Through Generative AI: Experiences from the CREA II Project
            The availability of this video marks a significant step in disseminating the knowledge and findings shared during the conference. It serves as a valuable reference for academics, practitioners, policymakers, and anyone interested in the intersection of AI and law.

            We extend our gratitude to all the speakers, participants, and organizers who contributed to the success of the CREA2 conference. Their expertise and engagement have made this event a pivotal moment in the exploration of AI applications in the legal field.

            To watch the CREA2 conference video, please follow the link: [<a href="https://www.youtube.com/watch?v=UIIIdZLhJJo&t=3s&ab_channel=DIKEvideo" target="_blank">https://www.youtube.com/watch?v=UIIIdZLhJJo&t=3s&ab_channel=DIKEvideo</a>]

            Thank you for your continued interest and support in advancing the understanding and application of AI in the justice system.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="mb-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">PROF. MARCO GIACALONE AT THE ODR FORUM 2024 IN PRAGUE, PRESENTING CREA2 PROJECT</h2>
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on  TUESDAY 04/06/2024 in <b>news</b> | <b>0 comments</b></p>
        <p class="ellipsed-text mb-4">
            We are excited to invite you to the ODR Forum 2024, the premier global conference on Online Dispute Resolution (ODR), where experts, policymakers, innovators, and academics from around the world will gather to discuss and shape the future of ODR.

            Event Details:

            Dates: June 5-6, 2024
            Location: Czech Institute of Informatics, Robotics and Cybernetics (CIIRC CTU), Jugoslavskych partyzanu 1580/3, Prague, Czech Republic
            The ODR Forum 2024 is a unique opportunity to engage with leading experts in the field of online dispute resolution. The conference will cover a wide range of topics, including AI in dispute resolution, ODR standards, and the role of technology in improving access to justice. This event is especially important for those interested in the latest developments and future trends in ODR.

            Opening Keynote by Ethan Katsh, Director of the National Center for Technology and Dispute Resolution, on the future of dispute prevention.
            Panels on ODR Standards, AI regulations, and the impact of AI on dispute resolution.
            Workshops on operationalizing new EU digital legislation in ODR platforms.
            Featured Speakers:

            Robert Němec, President of the Czech Bar Association
            Ethan Katsh, Director, National Center for Technology and Dispute Resolution (NCTDR)
            Leah Wing, Scott Cooper, and Chris Draper discussing AI standards and regulations.
            Fernando Esteban de la Rosa, on current AI methods for ODR.
            Colin Rule and Clare Fowler, on best practices in dispute diagnosis and solution exploration.
            Prof. Alon Klement, on ODR systems and aggregate litigation.
            Special Focus:

            ODR and Marginalized Populations: Addressing access to justice for under-resourced and marginalized communities.
            Future Visions: Presentations from students on innovative ideas and concepts in ODR.
            Practical Workshops: Hands-on sessions for participants to engage with new digital legislation and ODR tools: Sidharth Kapoor, Vaibhavi Khuthia: Presolv360; Raman Aggarwal: Jupitice; Simon Goodrich: Amica, Marco Giacalone: CREA2, Robert Bergman: NextLevel Mediation (link to video); Laura Kistemaker: Uitelkaar.
            This conference is not just an opportunity to learn, but also to contribute to the evolution of online dispute resolution. Whether you are a lawyer, designer, academic, policymaker, or tech enthusiast, don't miss the chance to be part of this groundbreaking event.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="mb-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">FINAL CONFERENCE CREA2 PROJECT</h2>
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on TUESDAY 21/05/2024 in <b>news</b> | <b>0 comments</b></p>
        <p class="ellipsed-text mb-4">
            We cordially invite you to the final conference of the CREA II-Project!

            Join us to explore the future of digitization in family law and online dispute resolution at this inspiring event on family law digitalization and (online) dispute resolution, on May 23 and 24, 2024, in the vibrant city of Brussels (HOEK 38, Rue de Louvain 38, 1000 Brussels).

            This conference is free to attend, but be sure to reserve your spot.
            Register today via the link below and get ready for an unforgettable experience! https://lnkd.in/d2hwzmj6

            Panel discussions, led by Prof. Dr. Marco Giacalone and Prof. Dr. Elisabeth Alofs, will cover the following topics:
            - The role of algorithms and AI in Judicial division of assets (Prof. Tatjana Josipovic, University of Zagreb, Croatia)
            - Crea2 project: a digital journey in the division of assets (Ms. Paola Giacalone, Vrije Universiteit Brussel, Belgium)
            - Applying CREA-II findings and practices for more efficient insolvency proceedings (Ms. Daša Tičar, University of Ljubljana, Slovenia)
            - Deployment of AI in court proceedings: roadblocks and cages (Prof. Rimantas Simaitis, MCIArb & Dr. Dr Milda Markevičiūtė, Vilnius University, Lithuania)
            - Generative AI and ADR (Prof. Jordi Nieva-Fenoll, Barcelona University, Spain)
            - Generative AI for Legal Professionals and its application in real cases (Dr. Giampiero Lupo, National Research Council, Italy)
            - Access to (digital) justice: enhancing opportunities for vulnerable people (Prof. Federica Casarosa, European University Institute, Italy)
            - AI Revolution in Law: is it really that close? (Dr. Cem Şanap, Fédération de Barreaux d’Europe, France)
            - AI and algorithms in family (patrimonial) law (Dr. Nishat Hyder-Rahman, Vrije Universiteit Brussel, Belgium)
            - Online conclusion of cross-border marriages and notarized divorces (Prof. Naiví Barreda, University of Ottawa, Canada)
            - Linking ADR and AI: the role of private autonomy (Prof. Lucia Ruggeri, University of Camerino, Italy)
            - Challenges in ODR within Family Law (Prof. Roni Liberson, The Hebrew University of Jerusalem, Israel)
            - Issues in using generative algorithms in family law (Dr. Elena Falletti, Università Carlo Cattaneo, Italy)
            - Authentication tools in Estonia: parallels with the CREA2 platform (Prof. Thomas Hoffmann, Tallinn University of Technology, Estonia)
            - Future of Digital Asset in Disputes in Virtual Realms (Dr. Gioia Arnone, Vrije Universiteit Brussel, Belgium)
            - Consumer perspectives on AI (Ms. Paola Pendenza, Adiconsum Association, Italy)

            Discover how our innovative AI tool can assist citizens, family law attorneys, and notaries in the complex realm of estate settlement after divorce and death.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="mb-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">PROF. GIACALONE AT THE FBE CONFERENCE ON "GENERATIVE AI IN THE JUSTICE SYSTEM" IN BARCELONA, PRESENTING THE EXPERIENCES OF THE CREA2 PROJECT</h2>
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on FRIDAY 03/05/2024 in <b>news</b> | <b>0 comments</b></p>
        <p class="ellipsed-text mb-4">
            We are thrilled to invite you for the conference on Generative AI in the Justice System, held in a hybrid format, with in-person sessions at the Barcelona Bar Association building and online sessions via Zoom.


            This conference is part of the Federation of European Bars (FBE)'s involvement in the CREA II research project on the use of artificial intelligence in dispute resolution. The event will feature insightful discussions led by international experts.

            Agenda Highlights:

            Panel 1: Implementing Generative AI in Legal Decision-Making Processes
            Experts will discuss the integration of generative AI technologies into legal decision-making and the potential benefits and challenges associated with it.
            Panel 2: Enhancing Access to Justice Through Generative AI: Experiences from the CREA II Project
            This session will focus on practical experiences and case studies from the CREA II project, showcasing how generative AI can improve access to justice.
            The detailed agenda is attached. The event is completely free of charge, and we encourage your participation. This is a unique opportunity to learn from leading experts in the field and to discuss the future of AI in the justice system.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="mb-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">DIKE RESEARCH GROUP AT THE FÉDÉRATION DES BARREAUX D’EUROPE (FBE) "DIGITIZING JUSTICE & EMPOWERING LEGAL EXCELLENCE" CONFERENCE, PRESENTING CREA AND SCAN PROJECTS IN LISBON</h2>
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on THURSDAY 18/01/2024 in <b>news</b> | <b>0 comments</b></p>
        <p class="ellipsed-text mb-4">
            In the ever-evolving landscape of law and technology, the "Digitizing Justice & Empowering Legal Excellence" Conference, scheduled for January 18th and 19th, 2024, promises to be a pivotal event.

            The conference brings together legal and AI experts to explore the intersection of technology and the legal profession, shedding light on the transformative impact of digitization and artificial intelligence (AI) on justice systems worldwide.

            Day 1: Digital Justice & AI-Driven Legal Practice

            The first day of the conference, themed around Digital Justice & AI-Driven Legal Practice, opens with intriguing insights during the 14:30 opening statements. The initial panel, "Digitizing Justice & AI-Driven Legal Practice," delves into unleashing the potential of AI in legal proceedings. Notable sessions include Paweł Kowalski's workshop on "Efficient Prompting Strategies for Lawyers" and an engaging discussion on the ethical implications of AI applications in legal scenarios.

            Day 2: AI Act Implementation in Legal Systems 
            
            On the second day, the focus shifts to AI Act Implementation in Legal Systems. Beginning with welcome speeches at 10:00, the conference addresses the challenges and opportunities presented by the introduction of AI regulations. Panel discussions explore "Digitizing Justice: Unleashing the Power of Automation for Equal Legal Systems" (Part 1 and Part 2) and conclude with a workshop by Francesco Spina and Maria Dymitruk on "Ethics in Action: Responsible Use of Generative AI in Legal Practice."

            The conference boasts a diverse lineup of speakers, ensuring a broad spectrum of insights into the intersection of AI and legal practices. With the implementation of AI Acts becoming more prominent, the conference offers a platform to understand how legal systems are adapting to these changes.

            Dedicated sessions, chaired by prof. Marco Giacalone, explored the responsible use of AI, emphasizing ethical considerations and adherence to guidelines to ensure fair and just legal practices.

            The Digitizing Justice & AI-Driven Legal Practice Conference stands as a testament to the legal profession's commitment to embracing technological advancements responsibly.

            Attendees can anticipate a wealth of knowledge, insights, and engaging discussions, making this conference an invaluable resource for legal professionals navigating the digital era. As the legal landscape continues to evolve, events like these play a crucial role in shaping the future of justice systems globally.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
    <div class="mb-20 flex w-4/5 flex-col rounded-2xl px-12 pb-6 pt-12 shadow-xl">
        <h2 class="mb-4 text-xl font-bold">PROF. GIACALONE AT UNIVERSITÉ DU LUXEMBOURG ON “ACCESS TO JUDICIAL DECISIONS, E-JUSTICE AND THE CREA2 PROJECT”</h2>
        <p class="mb-4 capitalize italic text-stone-400" style="text-transform:uppercase">Posted by <b>contributore giurisprudenza 1</b> on MONDAY 13/11/2023 in <b>news</b> | <b>0 comments</b></p>
        <p class="ellipsed-text mb-4">
            Today Prof. Marco Giacalone made an insightful presentation on “Access to judicial decisions, e-justice and the CREA2 project” at the University of Luxembourg.

            In his speech, Prof. Giacalone delved into crucial aspects concerning the future of justice systems. His discussion highlighted the EU ambitious objective of achieving meaningful access to justice by the year 2030, an aim that currently lacks a precise definition and framework.

            A significant focus of his discourse centered on the ongoing process of digitizing the justice system. This transformative initiative involves multiple steps, with a key emphasis on reducing reliance on paper and facilitating the use of e-signatures. Although significant progress has been made, the journey towards a fully realized e-justice system remains incomplete.

            Professor Giacalone underscored the critical importance of interoperability between national systems to achieve the larger objective of establishing a European-level e-justice system. This endeavor is recognized as an ongoing goal, necessitating collaborative efforts and advancements in technological integration.

            Highlighting a practical manifestation of these efforts, Prof. Giacalone discussed the EU e-justice portal, a platform designed to aggregate pertinent information related to each EU Member State. This portal serves to guide citizens to national judicial decisions using the European Case Law Identifier (ECLI) tool tailored for each Member State. The ECLI, a promising development, holds substantial potential; however, its efficiency is contingent upon widespread adoption by national jurisdictions.
        </p>
        <button class="button self-end" onclick="toggleText(this)">Read more</button>
    </div>
</div>

<script>
    const toggleText = (button) => {
        const paragraph = button.previousElementSibling;

        if (paragraph.classList.contains("ellipsed-text")) {
            paragraph.classList.remove("ellipsed-text");
            paragraph.classList.add("full-text");
            button.textContent = "Read less";
        } else {
            paragraph.classList.remove("full-text");
            paragraph.classList.add("ellipsed-text");
            button.textContent = "Read more";
        }
    }
</script>